header.header
	.container
		nav.nav
			ul.menu
				li.menu__item
					a.js-anchor(href="#about") О нас
				li.menu__item
					a.js-anchor(href="#photo") Фото
				li.menu__item
					a.js-anchor(href="#price") Стоимость
				li.menu__item
					a.js-anchor(href="#contacts") Контакты
		.sandwich-btn