.contact#contacts
	.container
		.contact-img
			img(src='static/images/content/letter.png' alt='letter')
		.contact-form
			.contact-form__title Мы с вами свяжемся
			form#form.cont-form
				input.cont-form__input(required type='email' name='email' placeholder='Ivan@mail.ru')
				input.cont-form__input(required type='phone' name='phone' placeholder='+79789733345')
				button.btn.cont-form__btn(type='submit') Отправить