.slider#photo
	.container.container--gallery
		.slider-title Фото с наших поездок
		.wrap
			.slider-item.fade
				img(src='static/images/content/slider_1.jpg' alt='slider')
			.slider-item.fade
				img(src='static/images/content/slider_2.jpg' alt='slider')
			.slider-item.fade
				img(src='static/images/content/slider_3.jpg' alt='slider')
			.slider-item.fade
				img(src='static/images/content/slider_4.jpg' alt='slider')
			.prev
				+icon('left-arrow', 'arrow-left')
			.next
				+icon('right-arrow', 'arrow-right')
		.slider-dots
			.dot.dot-active
			.dot
			.dot
			.dot