.main(style="background-image:url('static/images/content/bg.jpg')")
	.container
		.main-block
			.main-block__link Travel.org
			.main-block__title Йога-туры в индию
			.main-block__descr океан / йога / путешествия / аюрведа