.timer
	.timer__title Успей забронировать место со скидкой
	.timer__action До конца акции осталось
	.timer__numbers#timer
		span.days 00
		span :
		span.hours 00
		span :
		span.minutes 00
		span :
		span.seconds 00
	a(href="#popup").js-popup.btn.timer__btn.js-more Узнать больше